*{
    padding: 0;
    margin: 0;
    

    h2{
        font-size: 12px;
        font-family: Open;
    }
    h3{
        font-size: 6px;
    }

    p{
        font-size: 6px;
    }

    a{
        font-size: 6px
    }
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    
    height: 100vh;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: solid 1px #3B5998;
    
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        .pu{
            width: 50%;
            height: 100%;
        }
        .partiedroitehead{
            height: 100%;
            background-color: #3B5998;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 4px;

            img{
                width: 100%;
            }

            .inu{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;

                button{
                    border: none;
                    background-color: #3B5998;
                    color: white;
                } 
            }
        }
    }
    main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 24px;
        gap: 2px;
        font-family: Source Sans Pro;
        
        .title {
            width: 100%;
            background-color: #3B5998;
            color: white;
            
        }
        .hautgauche {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;
            width: 20%;
            padding: 5px;
        }
        .recherche {
            border: solid 1px #3B5998;
            border-style: dashed;
            padding: 10px 4px;
            width: 94.5%;

            input {
                width: 100%;
            }
            .oki {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
        .desA {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            width: 94.5%;
            padding: 10px 4px;
            border: solid 1px #3B5998;
            border-style: dashed;
            gap: 2px;

            a:hover {
                text-decoration: underline;
            }
            a{
                text-decoration: none;
                color: #538ADC;
            }
        }

        .pubb {
            width: 50%;
            border: solid 1px #3B5998;
            border-style: dashed;
            object-fit: cover;
        }

        .aaa {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            width: 80%;
            border: solid 1px #3B5998;

            .aaai {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                background-color: #3B5998;
                width: 99.6%;
                color: white;
                padding: 2px;
            }

            .aab {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 4px;
                border: solid 1px #3B5998;

                .aac {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: max-content;
                    
                    .moi {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-between;
                        border: solid 1px #3B5998;
                        width: 95%;
                    }

                    .deuxa {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-between;
                        border: solid 1px #3B5998;
                        width: 95%;

                        .lol {
                            width: 100%;
                            height: 1px;
                            background-color: #3B5998;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                        a{
                            text-decoration: none;
                            color: #538ADC;
                        }
                    }

                    .conect { 
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        border: solid 1px #3B5998;
                        width: 95%;
                    }

                    .mf {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        border: solid 1px #3B5998;
                        width: 95%;
                    }

                    .acces {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        border: solid 1px #3B5998;
                        width: 95%;
                    }

                    .ami {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        border: solid 1px #3B5998;
                        width: 95%;

                        .uni1 {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                            .uni {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                img{
                                    width: 20px;
                                }
                            }
                        }
                    }
                }

                .aad {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    border: solid 1px #3B5998;
                    width: 50%;

                    a:hover {
                        text-decoration: underline;
                    }
                    a{
                        text-decoration: none;
                        color: #538ADC;
                    }
                    .tousnom{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: start;
                        gap: 4px;
                        padding: 0px 8px;
                        width: 50%;

                        .nomplusnom{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            width: 100%;

                            .nom{
                                width: 50%;
                            }
                        }
                    }
                }
            }
            .enbas{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .last{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;

                    a{
                        text-decoration: none;
                        color: #538ADC;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}