*{
    padding: 0;
    margin: 0;
    font-family: crossorigin;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-bottom: 24px;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 50%;
    }
    .partiedroitehead{
        width: 50%;
    }
}